

body,html{
    height: 100%;

}

.bg{
    

  /* The image used */
  background: url("backdrop.gif") no-repeat center center fixed;

  /* Full height */
  height: 100%;
  width: 100%;

background-size: cover;
}
.border1{
    border-color: #ffce00;
    border-style:solid;
}
.container-fluid{
    height:100%;
    width:1005;
}


#realrow{
    /* display:flex; */
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
   
}
.resize{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}
h1{
    text-align: center;
    font-family:  'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
}